.body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  /* 1.4 - вместо 140% */
  line-height: 1.4;
  color: #221F1F;
}